In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from collections import Counter
import itertools
import collections

In [85]:
data = pd.read_csv('movie_bd_v5.csv')

In [46]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [86]:
# добавляю дополнительные столбцы чтобы уменьшить код
data['profit'] = data['revenue'] - data['budget']
data['genres_list'] = data['genres'].apply(lambda x:x.split('|'))
data['director_list'] = data['director'].apply(lambda x:x.split('|'))
data['cast_list'] = data['cast'].apply(lambda x:x.split('|'))
data['release_date_list'] = data['release_date'].apply(lambda x:x.split('/'))
data['production_companies_list'] = data['production_companies'].apply(lambda x:x.split('|'))
data['overview_list'] = data['overview'].apply(lambda x:x.split(' '))

In [49]:
data.sample()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
1663,tt0345074,20000000,11341016,Connie and Carla,Nia Vardalos|Toni Collette|David Duchovny|Step...,Michael Lembeck,"When you follow your dream, there's no telling...",After accidentally witnessing a mafia hit in t...,98,Comedy,...,4/16/2004,6.8,2004,-8658984,[Comedy],[Michael Lembeck],"[Nia Vardalos, Toni Collette, David Duchovny, ...","[4, 16, 2004]",[Universal Pictures],"[After, accidentally, witnessing, a, mafia, hi..."

# Предобработка

In [50]:
answers = {} # создадим словарь для ответов

# 1. У какого фильма из списка самый большой бюджет?

In [51]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)'

In [52]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,5/11/2011,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[5, 11, 2011]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[Captain, Jack, Sparrow, crosses, paths, with,..."

# 2. Какой из фильмов самый длительный (в минутах)?

In [53]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals(tt0279111)'

In [54]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,...,2/21/2003,5.8,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[2, 21, 2003]","[Turner Pictures, Antietam Filmworks]","[The, film, centers, mostly, around, the, pers..."

# 3. Какой из фильмов самый короткий (в минутах)?

In [55]:
answers['3'] = '768. Winnie the Pooh(tt1449283)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,4/13/2011,6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[4, 13, 2011]","[Walt Disney Pictures, Walt Disney Animation S...","[During, an, ordinary, day, in, Hundred, Acre,..."

# 4. Какова средняя длительность фильмов?

In [56]:
answers['4'] = '110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [57]:
answers['5'] = '107'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [58]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar(tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,12/10/2009,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[12, 10, 2009]","[Ingenious Film Partners, Twentieth Century Fo...","[In, the, 22nd, century,, a, paraplegic, Marin..."

# 7. Какой фильм самый убыточный?

In [59]:
answers['7'] = '1245. The Lone Ranger(tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[7, 3, 2013]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[The, Texas, Rangers, chase, down, a, gang, of..."

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [60]:
answers['8'] = '1478'
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [61]:
answers['9'] = '599. The Dark Knight(tt0468569)'
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,7/16/2008,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...","[7, 16, 2008]","[DC Comics, Legendary Pictures, Warner Bros., ...","[Batman, raises, the, stakes, in, his, war, on..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [62]:
answers['10'] = '1245. The Lone Ranger(tt1210819)'
data_12_14 = data[(data.release_year > 2011) & (data.release_year < 2015)]
data_12_14[data_12_14.profit == data_12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,release_date_list,production_companies_list,overview_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[7, 3, 2013]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[The, Texas, Rangers, chase, down, a, gang, of..."

# 11. Какого жанра фильмов больше всего?

In [63]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' 

string = data.genres.str.cat(sep = '|')
divide = pd.Series(string.split('|'))
divide.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [64]:
# Мой первый кривой вариант, а тот что выше посмотрел подсказки в чате=)
genres = data.genres
a = genres.apply(lambda x:str(x).replace('|', ','))
b = a.apply(lambda x:str(x).replace(' ', ','))
c = []
for i in b:
    c.append(i)
d = ','.join(c)
e = re.split(',', d)
final = pd.DataFrame(e)
final.columns = ['new']
final.new.value_counts()

Drama          782
Comedy         683
Thriller       596
Action         582
Adventure      415
Crime          315
Romance        308
Family         260
Fiction        248
Science        248
Fantasy        222
Horror         176
Mystery        168
Animation      139
Music           64
History         62
War             58
Western         19
Documentary      8
Foreign          2
Name: new, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [66]:
answers['12'] = 'Drama'
data_explode_genres = data.explode('genres_list')
data_profit = data_explode_genres[data_explode_genres.profit > 0]
group_genres = data_profit['genres_list'].value_counts() 
group_genres.head(1)

Drama    560
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [67]:
answers['13'] = 'Peter Jackson'
data_explode_director = data.explode('director_list')
group_directors = data_explode_director.groupby(['director_list'])['profit'].sum().sort_values(ascending = False)
group_directors.head(1)

director_list
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [70]:
answers['14'] = 'Robert Rodriguez'
data_explode_genres = data.explode('genres_list')
data_d_and_g = data_explode_genres.explode('director_list')
group_d_and_g = data_d_and_g[data_d_and_g.genres_list == 'Action'].director_list.value_counts()
group_d_and_g.head(1)

Robert Rodriguez    9
Name: director_list, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [71]:
answers['15'] = 'Chris Hemsworth'
data_2012 = data[data.release_year == 2012]
data_prof_m = data_2012[data_2012.revenue > data_2012.revenue.mean()]
data_explode_cast = data_prof_m.explode('cast_list')
cast_2012 = data_explode_cast.groupby(['cast_list'])['revenue'].sum().sort_values(ascending = False)
cast_2012.head(1)

cast_list
Chris Hemsworth    1916157910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [72]:
answers['16'] = 'Matt Damon'
data_prof_m = data[data.budget > data.budget.mean()]
data_explode_casts = data_prof_m.explode('cast_list')
cast = data_explode_casts.cast_list.value_counts()
cast.head(1)

Matt Damon    18
Name: cast_list, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [73]:
answers['17'] = 'Action'
data_explode_genres = data.explode('genres_list')
data_c_and_g = data_explode_genres.explode('cast_list')
group_c_and_g = data_c_and_g[data_c_and_g.cast_list == 'Nicolas Cage'].genres_list.value_counts()
group_c_and_g.head(1)

Action    17
Name: genres_list, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [74]:
answers['18'] = '925. K-19: The Widowmaker(tt0267626)'
data_exp_pro_comp = data.explode('production_companies_list')
film_Paramount = data_exp_pro_comp[data_exp_pro_comp.production_companies_list == 'Paramount Pictures']
result = film_Paramount.groupby(['original_title'])['profit'].min().sort_values()
result.head(1)

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [75]:
answers['19'] = '2015'
result = data.groupby(['release_year'])['revenue'].sum()
result.tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [76]:
answers['20'] = '2014'
data_warner = data[data['production_companies'].str.contains('Warner Bros', na = False)]
result = data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
result.head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [78]:
answers['21'] = 'Сентябрь'
data['month'] = data['release_date_list'].apply(lambda x: x[0])
data.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [79]:
answers['22'] = '450'
data['month'] = data['release_date_list'].apply(lambda x: x[0])
result = data[(data.month == '6') | (data.month == '7') | (data.month == '8')].month.value_counts().sum()
display(result)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
answers['23'] = 'Peter Jackson'
data['month'] = data['release_date_list'].apply(lambda x: x[0])
result = data[(data.month == '12') | (data.month == '1') | (data.month == '2')].director.value_counts()
result.head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [87]:
answers['24'] = 'Four By Two Productions'
data['original_title_numbers'] = data['original_title'].apply(lambda x:len(x))
data_exp = data.explode('production_companies_list')
result = data_exp.groupby(['production_companies_list'])['original_title_numbers'].median().sort_values(ascending = False)
result.head(1)

production_companies_list
Four By Two Productions    83.0
Name: original_title_numbers, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [88]:
answers['25'] = 'Midnight Picture Show'
data['overview_list_numbers'] = data['overview_list'].apply(lambda x:len(x))
data_exp = data.explode('production_companies_list')
result = data_exp.groupby(['production_companies_list'])['overview_list_numbers'].mean().sort_values(ascending = False)
display(result)

production_companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_list_numbers, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [89]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
sort_votes = data.sort_values(by = 'vote_average')
result = sort_votes.tail(int(data.original_title.count()/100)).original_title
display(result)

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [91]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'
data['pairs'] = data['cast_list'].apply(lambda x: list(itertools.combinations(x, 2)))
data_pairs = data.explode('pairs')
collections.Counter(data_pairs['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [92]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': '1157. Gods and Generals(tt0279111)',
 '3': '768. Winnie the Pooh(tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar(tt0499549)',
 '7': '1245. The Lone Ranger(tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight(tt0468569)',
 '10': '1245. The Lone Ranger(tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker(tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [93]:
# и убедиться что ни чего не пропустил)
len(answers)

27